# aldonu regulan aktualigon de datumbazoj per
# crontab -e

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# regula aktualigo de datumbazoj
SHELL=/bin/bash
HOME=/root
# redaktantoj kaj index-db
45 16 * * * source $HOME/.profile; $HOME/revo-medioj/cetoniujo/bin/cetoniujo-db-upd.sh redaktantoj
55 18 * * * source $HOME/.profile; $HOME/revo-medioj/cetoniujo/bin/cetoniujo-db-upd.sh update-db