# aldonu regulan aktualigon de datumbazoj per
# crontab -e

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# regula aktualigo de datumbazoj
SHELL=/bin/bash
HOME=/root
# redaktantoj kaj index-db
45 16 * * * source $HOME/.profile; $HOME/revo-medioj/cetoniujo-c/bin/cc-db redaktantoj 2>&1 > /var/log/cetonio.log
55 18 * * * source $HOME/.profile; $HOME/revo-medioj/cetoniujo-c/bin/cc-db update-db 2>&1 > /var/log/cetonio.log