# aldonu regulan trakton de retpoŝtaj redaktoj per
# crontab -e

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
SHELL=/bin/bash
HOME=/root
# regula trakto de retpoŝtaj redaktoj

10 */2 * * * source ${HOME}/.profile; cd ~revo/revo-medioj/afido-c; bin/ac-servo 2>&1 > /var/log/afido-servo.log

33 07 * * * source ${HOME}/.profile; cd ~revo/revo-medioj/afido-c; bin/ac-taga-resumo -a | mail -s "redakto-servo - taga resumo" via@poŝto.eo
